<!DOCTYPE html>
<html>
  <head>
    <title>For Students</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- styles -->
    <link href="css/styles.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script>

    </script>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#" style="padding: 0px; margin-left: 20px;"><img src="images/logo.png" style="padding: 0px; height: 45px; margin-top: 2px;"/></a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right" style="margin-right: 0;">
            <li><a href="home.html">Home</a></li>
            <li><a href="for_students.html">For Students</a></li>
            <li><a href="for_companies.html">For Companies</a></li>
            <li><a href="home.html">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="page-content">
    	<div class="row">
		  <div class="col-md-1">
      </div>
		  <div class="col-md-10">
		  	<div class="row">
		  		<div class="col-md-12 panel-warning">
		  			<div class="content-box-header panel-heading">
	  					<div class="panel-title" id="title">For Students</div>
		  			</div>

		  			<div class="content-box-large box-with-header" id="info">
              <h4 style="font-weight: bold;">Placement Policy</h4>
  <p style="text-align: justify;">1) To be eligible for the placement through Campus Interviews, students need to register with
the T & P Department.</p>
  <p style="text-align: justify;">2) Only those students who can complete the prescribed credits for the degree requirement#
by the end of the current academic session (2016-17) are eligible to register. Students may
have to justify their claim if required.</p>
  <p style="text-align: justify;">3) The Institute has concept of Dream Job and Normal Job. A job with Cost to Company (CTC)
less than 6 lacs per annum is considered to be a Normal Job, while a job with CTC more than
and including 6 Lacs per annum is considered to be a Dream Job.</p>
  <p style="text-align: justify;">4) A student shall be permitted to appear at all interviews subject to his/her meeting the
criteria laid down and the conditions put forward by the companies are acceptable to him.</p>
  <p style="text-align: justify;">5) Students not having any job are eligible to apply for Normal as well as Dream Jobs.</p>





					</div>
		  		</div>
		  	</div>
		  </div>
		</div>
    </div>

    <footer>
         <div class="container">

            <div class="copy text-center">
               Copyright 2017 <a href='#'>Website</a>
            </div>

         </div>
      </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>
