<!DOCTYPE html>
<html>
  <head>
    <title>For Companies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- styles -->
    <link href="css/styles.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script>

    </script>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#" style="padding: 0px; margin-left: 20px;"><img src="images/logo.png" style="padding: 0px; height: 45px; margin-top: 2px;"/></a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right" style="margin-right: 0;">
            <li><a href="home.html">Home</a></li>
            <li><a href="for_students.html">For Students</a></li>
            <li><a href="for_companies.html">For Companies</a></li>
            <li><a href="home.html">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="page-content">
    	<div class="row">
		  <div class="col-md-1">
      </div>
		  <div class="col-md-10">
		  	<div class="row">
		  		<div class="col-md-12 panel-warning">
		  			<div class="content-box-header panel-heading">
	  					<div class="panel-title " id="title">For Companies</div>
		  			</div>

		  			<div class="content-box-large box-with-header" id="info">
              <div class="item_fulltext"><p style="margin-top: 0in; margin-right: 0in; margin-bottom: 0.0001pt; text-align: center;"><span style="font-size: 12pt; color:blue;"><strong><h4 style="border: 1pt none windowtext; padding: 0in;">Training and Placement Section</h4></strong></span></p>
                <p style="text-align: justify;">The Training and Placement Department provides necessary guidance to the students for career planning and personality development. In this regard workshops on soft skills development are being arranged. In addition to this various online test modules on technical knowledge, general aptitude, etc. are also conducted. Orientation program for placements, career guidance seminars on Higher Education in India &amp; Foreign countries are organized to help the students for planning their careers.</p>
  <p style="text-align: justify;">The Training and Placement Department of Visvesvaraya National Institute of Technology aims to provide students with a platform for using their technical acumen to gain valuable experience by working in the mainstream industry. It also acts as an interface for Companies seeking talented young graduates and post-graduates in various disciplines.</p>
  <p style="text-align: justify;">VNIT-Nagpur invites various public and private sector organizations for campus recruitment of final year students. During the academic year 2015-16, more than 100 companies visited the campus. These included all the major companies like Coal India, Reliance Group, Jindal group, L&amp;T Group, Bajaj Auto Limited, InMobi, Oracle, Amazon, Morgan Stanley, ZS Associates, NMRCL and many more. All these companies offered 496 jobs UG &amp; PG students (403 UG &amp; 93 PG)</p>
  <p style="text-align: justify;">Along with core-sector jobs, over the past few years, students have also shown a keen interest for jobs in IT and Software, Management and Consultancy firms, Educational Organizations and even in Start-Ups. While core disciplines attract students with strong technical know-how, other sectors invariably open doors to students interested in dynamic work-profiles and aptitude-based skill requirements.</p>
  <p>&nbsp;</p>
					</div>
		  		</div>
		  	</div>
		  </div>
		</div>
    </div>

    <footer>
         <div class="container">

            <div class="copy text-center">
               Copyright 2017 <a href='#'>Website</a>
            </div>

         </div>
      </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>
